:root {
  // colors
  --base--white: #ffffff;
  --base--black: #050505;
  --base--grey: #242424;
  --base--green: #1db954;
  // tones
  --base--grey--dark: #131313;
  // flair
  --border-radius--sm: 8px;
  --border-radius--lg: 50px;
  --spacer--sm: 20px;
  --spacer--lg: 60px;
}
