@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");
.command {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: var(--spacer--lg);

  .command--input {
    border-radius: var(--border-radius--lg);
    font-size: 17px;
    max-width: 100%;
    padding: 8px;
    width: 546px;
  }
  .command--note {
    padding: var(--spacer--sm) 0;
  }
  .command--actions {
    padding: var(--spacer--lg);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .command--action {
      background: var(--base--green);
      border: none;
      margin: var(--spacer--sm);
    }
  }
  .command--action,
  .commmand-query {
    border-radius: var(--border-radius--lg);
    cursor: pointer;
    font: 12px/15px "Proxima Nova", sans-serif;
    font-weight: 600;
    width: 102px;
    padding: 3px 10px;
    text-transform: uppercase;
  }
  .commmand-query {
    background: none;
    border: 1px solid var(--base--white);
    color: var(--base--white);
    height: 32px;
    margin-left: var(--spacer--sm);
  }
  .command--response {
    align-items: center;
    background: var(--base--grey);
    display: flex;
    font: 30px/35px "Tenali Ramakrishna", sans-serif;
    margin-bottom: var(--spacer--sm);
    min-height: 200px;
    justify-content: center;
    width: 100%;
    text-transform: lowercase;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .command {
    .command--actions {
      flex-direction: row;
    }
  }
}
